<div class="list_people_design">
  <div class="image_desgin_people1">
    <%= image_tag('image2')%>
    <div class= "name_people_collection">
      <h3>Open doors to a world of global collections</h3>
      <p>From Shanghai’s future greats to New York’s most exciting new talent, nothing is out of reach this season. Find the best new pieces here</p>
    </div>
  </div>
  <div class="image_desgin_people1">
    <%= image_tag('image2')%>
    <div class= "name_people_collection">
      <h3>Open Doors To A World Of Iconic Fashion</h3>
      <p>Celebrate endless possibilities for fashion in its most iconic forms, including Saint Laurent, Prada, Fendi and Gucci</p>
    </div>
  </div>
</div>