<div>
  <div>
    <%= image_tag('imag1.webp') %>
  </div>

  <div class="text_content_women">
    <h3>Open Doors To A World Of Global Collections</h3>
    <p>From Shanghai’s future greats to New York’s most exciting new talent, nothing is out of reach this season. Find the best new pieces here, powered by our network of international brands and boutiques</p>
  </div>
</div>