<div class="list_hot_week">
  <div class="hot_week_title">
    <h3>This week's highlights</h3>
  </div>

  <div class="week_hot">
    <article class="poster_hot_weeks">
      <div class="image_hot_weeks">
        <%= image_tag('image2')%>
      </div>
      <div class="content_hot_weeks">
        <h4>NEW-SEASON TRENCH COATS</h4>
        <p>A modern spin on a wardrobe classic</p>
      </div>
    </article>
    <article class="poster_hot_weeks">
      <div class="image_hot_weeks">
        <%= image_tag('image2')%>
      </div>
      <div class="content_hot_weeks">
        <h4>NEW-SEASON TRENCH COATS</h4>
        <p>A modern spin on a wardrobe classic</p>
      </div>
    </article>
    <article class="poster_hot_weeks">
      <div class="image_hot_weeks">
        <%= image_tag('image2')%>
      </div>
      <div class="content_hot_weeks">
        <h4>NEW-SEASON TRENCH COATS</h4>
        <p>A modern spin on a wardrobe classic</p>
      </div>
    </article>
  </div>
</div>
