<section class="section_list_4">
  <!-- production -->
  <%= render 'share/product'%>
  <%= render 'share/product'%>
  <%= render 'share/product'%>
  <%= render 'share/product'%>
</section>  
<!-- button -->
<div class="botton_now">
  <a href="#"><b>Shop Now</b></a>
</div>
