<div class="checkout_header">
  <div class="header_login">
    <div class="logo_header_login">
      <%= link_to root_path do%>
        <%= image_tag("your-logo.png")%>
      <%end%>
    </div>
    <ul class="login_help">
      <li>VN/VND</li>
      <li>Need Help?</li>
      <li>Phone +84987194920</li>
    </ul>
  </div>
</div>