<article>
  <div class="image_cards">
    <%= image_tag 'image3.jpg' %>
  </div>
  <div>
    <div><b>Joseph</b></div>
    <div>oversized roll-neck jumper</div>
    <span>$404</span>
  </div>
</article>