.menu_dashboard {
  width: 15%;
}
.dashboard_admin {
  display: flex;
  flex-wrap: wrap;
}

.center_dashboard {
  display: flex;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.box_dashboard {
  border: solid 1px black;
  width: 27em;
  height: 5em;
  margin-bottom: 2em;
  flex-direction: column;
  border-radius: 4px;
}
.around_dashboard {
  display: flex;
  flex-direction: column;
}
.box_dashboard_01 {
  border: solid 1px black;
  width: 27em;
  height: 12em;
  margin-bottom: 2em;
  flex-direction: column;
  border-radius: 4px;
}
.box_dashboard_02 {
  border: solid 1px black;
  width: 27em;
  height: 22em;
  margin-bottom: 2em;
  flex-direction: column;
  border-radius: 4px;
}
.box_dashboard_03 {
  border: solid 1px black;
  width: 27em;
  height: 36em;
  margin-bottom: 2em;
  flex-direction: column;
  border-radius: 4px;
}
/*component details*/
.header_component_dashboard {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0.6em 1em 0 1em;
  padding-bottom: 0.3em;
  border-bottom: solid 2px #d3d3d3;
}
.info_component_dashboard{
  font-weight: bold;
  margin: 0.3em 0 0 0.5em;
  font-size: 1.5em;
}
.info_detail_component_dashboard {
  font-size: 0.5em;
  color: green;
}