<div class="dashboard_admin">
  <div class="menu_dashboard">
    <div>Dashboard</div>
  </div>
  <div class="center_dashboard">
    <div class ="around_dashboard">
      <div class="box_dashboard">
        <div>
          <div class="header_component_dashboard">
            <span>Ecommerce revenue1</span>
          </div>
          <div class="info_component_dashboard">
            <div>600%</div>
            <div class="info_detail_component_dashboard">Up to 120%
              <span>(0.00%)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="box_dashboard">
        <div class="header_component_dashboard">
          <span>Ecommerce revenue2</span>
        </div>
        <div class="info_component_dashboard">
          <div>600%</div>
          <div class="info_detail_component_dashboard">Up to 120%
            <span>(0.00%)</span>
          </div>
        </div>
      </div>
      <div class="box_dashboard">
        <div class="header_component_dashboard">
          <span>Ecommerce revenue3</span>
        </div>
        <div class="info_component_dashboard">
          <div>600%</div>
          <div class="info_detail_component_dashboard">Up to 120%
            <span>(0.00%)</span>
          </div>
        </div>
      </div>
    </div>
    <div class ="around_dashboard">
      <div class="box_dashboard">
        <div class="header_component_dashboard">
          <span>Ecommerce revenue4</span>
        </div>
        <div class="info_component_dashboard">
          <div>600%</div>
          <div class="info_detail_component_dashboard">Up to 120%
            <span>(0.00%)</span>
          </div>
        </div>
      </div>
      <div class="box_dashboard">
        <div class="header_component_dashboard">
          <span>Ecommerce revenue5</span>
        </div>
        <div class="info_component_dashboard">
          <div>600%</div>
          <div class="info_detail_component_dashboard">Up to 120%
            <span>(0.00%)</span>
          </div>
        </div>
      </div>
      <div class="box_dashboard">
        <div class="header_component_dashboard">
          <span>Ecommerce revenue6</span>
        </div>
        <div class="info_component_dashboard">
          <div>600%</div>
          <div class="info_detail_component_dashboard">Up to 120%
            <span>(0.00%)</span>
          </div>
        </div>
      </div>
    </div>
    <div class ="around_dashboard">
      <div class="box_dashboard_01"></div>
      <div class="box_dashboard_02"></div>
    </div>
    <div class ="around_dashboard">
      <div class="box_dashboard_03"></div>
  </div>


</div>